@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://www.dbjl.fr/media/wysiwyg/Billard-anglais.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

.btn-emerald {
  background-color: #2a9d8f !important;
  color: white !important;
  padding: 12px 24px !important;
  border-radius: 8px !important;
  font-weight: bold !important;
  cursor: pointer;
  border: none;
  width: 100%;
}
